<%= form_for(@plane) do |f| %>
  <% if @plane.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@plane.errors.count, "error") %> prohibited this aircraft from being saved:</h2>

      <ul>
      <% @plane.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
      <%= f.label 'Type' %><br />
      <%= f.text_field :name, type: "text", required: "required", title: "Please enter the aircraft type.
      Use only letters and numbers. No spaces!"%>
    </div>


    <div class="field">
      <%= f.label 'Availabile number of aircraft type' %><br />
      <%= f.text_field :plane_availability, type: "number", min:0, title: "Please enter the available number
      of aircrafts for this type. Only positive values in whole numbers!" %>
    </div>

    <div class="actions">
      <%= f.submit 'Change or update aircraft type' %>
    </div>
<% end %>
