<p id="notice"><%= notice %></p>

<h1>Table of aircraft types</h1>

<table id="planes" class="display">
  <thead>
    <tr>
      <th>Type</th>
      <th>Available number</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @planes.each do |plane| %>
      <tr>
        <td><%= plane.name %></td>
        <td><%= plane.plane_availability %></td>
        <td><%= link_to 'Show', plane %></td>
        <td><%= link_to 'Edit', edit_plane_path(plane) %></td>
        <td><%= link_to 'Destroy', plane, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br/>
<%= link_to 'New aircraft type', new_plane_path %>
<br>
<%= link_to 'Back to model page', aircraft_start_path %>

