<p id="notice"><%= notice %></p>

<p>
  <strong>Aircraft type:</strong>
  <%= @plane.name %>
</p>

<p>
  <strong>Availability:</strong>
  <%= @plane.plane_availability %>
</p>

<%= link_to 'Edit', edit_plane_path(@plane) %> |
<%= link_to 'Back', planes_path %>
