<% provide(:title, 'Aircraft Allocation Model') %>
<h1>Aircraft Allocation Model</h1>
<p>
<p>
<div class="line-back">
  <p>
    <strong>You can start the aircraft allocation model on this page!</strong>
  </p>
</div>
<strong>1. Step:</strong> Enter or edit the basic data for the aircraft optimization model. <br>
These inputs are needed before you can enter the associations between routes, demand states and aircraft types.<br>
<strong>
  <br>
  <div class="photo-row">
    <div class="photo"><%= link_to "Edit Routes", routes_path %><br><br><%= link_to image_tag("route_.png", :width => 70, :height => 70, :title => "Edit routes"), routes_path %></div><div class="photo"><%= link_to "Edit aircraft types", planes_path %><br><br><%= link_to image_tag("airc.jpg", :width => 70, :height => 70, :title => "Edit aircraft types"), planes_path %></div><div class="photo"><%= link_to "Edit demand states", states_path %><br><br><%= link_to image_tag("szenario.jpg", :width => 70, :height => 70, :title => "Edit demand states"), states_path %></div>
  </div>
  <br>
  <br>
</strong>
<strong>2. Step:</strong> Enter the informations for the association between routes/aircraft types and routes/demand states.<br><br>
<strong>
  <div class="photo-row-2">
    <div class="photo"><%= link_to "Edit aircraft type characteristics for routes", route_plane_associations_path %><br><br><%= link_to image_tag("aircroute.jpg", :width => 70, :height => 70, :title => "Edit aircraft type characteristics for routes"), route_plane_associations_path %></div><div class="photo"><%= link_to "Edit demand states for routes", route_state_associations_path %><br><br><%= link_to image_tag("demand.jpg", :width => 70, :height => 70, :title => "Edit demand states for routes"), route_state_associations_path %></div>
  </div>
</strong>
</p>
<% if logged_in? %>
    <p>
    <div class="line-back">
      <p>
        <strong>After updating your data we can run the optimization model!</strong>
      </p>
    </div>
    <strong>3. Step:</strong> Run the optimization model and acces the results.<br><br>
    <strong><%= button_to "Delete old data and run optimization model", :controller => 'route_plane_associations', :action => 'optimize' %></strong>
    <strong>NOTE:</strong> The results will also be saved as EXCEL-file in the aircraft_app folder.<br><br>
    <strong><%= button_to "Upload and show planes assigned for routes", :controller => 'route_plane_associations', :action => 'read_optimization_results' %>
      <%= button_to "Upload and show passengers carried and bumped for demand states", :controller => 'route_state_associations', :action => 'read_and_show_passengers' %>
      <%= button_to "Upload and show calculated total costs", :controller => 'route_plane_associations', :action => 'read_and_show_ofv' %></strong>

    </p>


<% end %>