<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Contact for support on the Operations Management Apps:<br></br>

  <b>jochenbebermeier@web.de</b><br>or</br><b>jonas.brune@web.de</b>


</p>
