<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  Contact for support on the Operations Management Apps:<br></br>

  <b>jochenbebermeier@web.de</b><br>or</br><b>jonas.brune@web.de</b>
  <br><br>


  <strong>Useful Literature:</strong><br><br>

  Operations Management Tutorial (2014), Stefan Helber



</p>
