<%= form_for(@route_plane_association) do |f| %>
  <% if @route_plane_association.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@route_plane_association.errors.count, "error") %> prohibited this Route-Plane-Association from being saved:</h2>

      <ul>
      <% @route_plane_association.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Route' %><br>
    <%= f.collection_select :route_id, Route.all, :id, :name, title: "Please choose from given set of routes!" %>
  </div>
  <div class="field">
    <%= f.label 'Aircraft Type' %><br>
    <%= f.collection_select :plane_id, Plane.all, :id, :name,title: "Please choose from given set of aircraft types" %>
  </div>
    <div class="field">
    <%= f.label 'Aircraft capacity on route (in 100 passengers)' %><br>
    <%= f.number_field :capacity, type: "number", min:0, required: "required", title: "Please enter the capacity for the given aircraft type on the given route. Only positive numbers!" %>
  </div>
  <div class="field">
    <%= f.label 'Cost per aircraft (in 1000$)' %><br>
    <%= f.text_field :costs, type: "number", min:0, step: "0.01", required: "required", title: "Please enter the cost (in 1000$) for the given aircraft type on the given route. Only positive numbers! "  %>
  </div>
  <div class="actions">
    <%= f.submit 'Change or update Aircraft type characteristics for route'%>
  </div>
<% end %>
