<p id="notice"><%= notice %></p>

<h1>Table of aircraft characteristics for routes</h1>

<table id="rou-pla-assoc" class="display">
  <thead>
    <tr>
      <th>Route</th>
      <th>Aircraft type</th>
      <th>Capacity of aircraft on route (in 100 passengers)</th>
      <th>Costs per aircraft (in 1000$)</th>
      <th>Planes assigned to Route</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @route_plane_associations.each do |route_plane_association| %>
      <tr>
        <td><%= route_plane_association.route.name%></td>
        <td><%= route_plane_association.plane.name%></td>
        <td><%= route_plane_association.capacity %></td>
        <td><%= route_plane_association.costs %></td>
        <td><%= route_plane_association.planes_assigned %></td>
        <td><%= link_to 'Show', route_plane_association %></td>
        <td><%= link_to 'Edit', edit_route_plane_association_path(route_plane_association) %></td>
        <td><%= link_to 'Destroy', route_plane_association, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<% if @objective_function_value!=nil %>
    Total costs are <%=   @objective_function_value %> x 1000 USD!   <br>   <br>
<% end %>
<br>
<%= link_to 'New aircraft characteristics for a route', new_route_plane_association_path %><br>
<%= link_to 'Back to model page', aircraft_start_path %>

