<p id="notice"><%= notice %></p>

<p>
  <strong>Route:</strong>
  <%= @route_plane_association.route_id %>
</p>

<p>
  <strong>Aircraft Type:</strong>
  <%= @route_plane_association.plane_id %>
</p>

<p>
  <strong>Capacity of aircraft on route:</strong>
  <%= @route_plane_association.capacity %>
</p>

<p>
  <strong>Costs per aircraft (in 1000USD):</strong>
  <%= @route_plane_association.costs %>
</p>

<%= link_to 'Edit', edit_route_plane_association_path(@route_plane_association) %> |
<%= link_to 'Back', route_plane_associations_path %>
