<%= form_for(@state) do |f| %>
  <% if @state.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@state.errors.count, "error") %> prohibited this demand state from being saved:</h2>

      <ul>
      <% @state.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
      <%= f.label 'Name' %><br />
      <%= f.text_field :name, type: "text", required: "required", title: "Please enter the name for the demand state. Use only letters and numbers! No spaces!" %>
    </div>

    <div class="actions">
      <%= f.submit 'Change or update demand state' %>
    </div>
<% end %>
