<p id="notice"><%= notice %></p>

<h1>Table of demand states</h1>

<table id="states" class="display">
  <thead>
    <tr>
      <th>Demand states</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @states.each do |state| %>
      <tr>
        <td><%= state.name %></td>
        <td><%= link_to 'Show', state %></td>
        <td><%= link_to 'Edit', edit_state_path(state) %></td>
        <td><%= link_to 'Destroy', state, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New demand state', new_state_path %><br>
<%= link_to 'Back to model page', aircraft_start_path %>

