<%= form_for(@route) do |f| %>
  <% if @route.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@route.errors.count, "error") %> Prohibited this route from being saved:</h2>

      <ul>
      <% @route.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
      <%= f.label 'Name' %><br />
      <%= f.text_field :name, type: "text", required: "required", title: "Please enter the route name. Use only letters and numbers! No spaces!" %>
    </div>

    
    <div class="field">
      <%= f.label 'Revenue loss (in 1000$ per 100 passengers)' %><br />
      <%= f.text_field :revenue_loss, type: "number", min:0, step: "0.01", required: "required"  , title: "Please enter the revenue loss for this route (in 1000USD per 100 passengers). Only positive numbers!"%>
    </div>

    <div class="actions">
      <%= f.submit 'Change or update route' %>
    </div>
<% end %>
