<p id="notice"><%= notice %></p>

<h1>Table of Routes</h1>

<table id="routes" class="display">
  <thead>
    <tr>
      <th>Name</th>
      <th>Revenue loss (1000 $/per 100 passengers)</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @routes.each do |route| %>
      <tr>
        <td><%= route.name %></td>
        <td><%= route.revenue_loss %></td>
        <td><%= link_to 'Show', route %></td>
        <td><%= link_to 'Edit', edit_route_path(route) %></td>
        <td><%= link_to 'Destroy', route, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New route', new_route_path %><br>
<%= link_to 'Back to model page', aircraft_start_path %>

