/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require jquery-ui/core
 *= require jquery-ui/theme
 *= require dataTables/src/demo_table_jui
 *= require_tree .
 */

.photo-row .photo {
    background-color: rgb(255,255,255);
    display: inline-block;
    vertical-align: middle;
    width: 25%
}
.photo-row .photo:nth-child(1) { text-align: left; }
.photo-row .photo:nth-child(2) { text-align: center; }
.photo-row .photo:nth-child(3) { text-align: center; }

.photo-row-2 .photo {
    background-color: rgb(230,230);
    display: inline-block;
    vertical-align: middle;
    width: 50%
}
.photo-row .photo:nth-child(4) { text-align: left; }
.photo-row .photo:nth-child(5) { text-align: center; }