<%= form_for(@route_state_association) do |f| %>
  <% if @route_state_association.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@route_state_association.errors.count, "error") %> prohibited this route_state_association from being saved:</h2>

      <ul>
      <% @route_state_association.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Route' %><br>
    <%= f.collection_select :route_id, Route.all, :id, :name, title: "Please choose from given set of routes!" %>
  </div>
  <div class="field">
    <%= f.label 'Demand State' %><br>
    <%= f.collection_select :state_id, State.all, :id, :name, title: "Please choose from given set of demand states!" %>
  </div>
  <div class="field">
    <%= f.label 'Demand on Route for State (in 100 passengers)' %><br>
    <%= f.number_field :demand, type: "number", min:0, step: "0.01", required: "required",
                       title: "Please enter the demand for the given demand state on this route. Only positive numbers!"  %>
  </div>
  <div class="field">
    <%= f.label 'Probability' %><br>
    <strong>NOTE:</strong> The sum of probabilities for one Scenario has to be equal to 1!
    <br>
    <%= f.text_field :lambda, type: "number", min:0, max:1, step: "0.01", required: "required",
                     title: "Please enter the probability for the given demand state on the given route. Only positive numbers between 0 and 1!"  %>
  </div>
  <div class="actions">
    <%= f.submit 'Change or update demand state for route'%>
  </div>


<% end %>

