<p id="notice"><%= notice %></p>

<h1>Table of demand states for routes</h1>

<table id="rou-sta-assoc" class="display">
  <thead>
    <tr>
      <th>Route</th>
      <th>Demand state</th>
      <th>Demand (in 100 passengers)</th>
      <th>Probability</th>
      <th>Passengers Carried (in 100 passengers)</th>
      <th>Passengers Bumped (in 100 passengers)</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @route_state_associations.each do |route_state_association| %>
      <tr>
        <td><%= route_state_association.route.name %></td>
        <td><%= route_state_association.state.name %></td>
        <td><%= route_state_association.demand %></td>
        <td><%= route_state_association.lambda %></td>
        <td><%= route_state_association.passengers_carried %></td>
        <td><%= route_state_association.passengers_bumped %></td>
        <td><%= link_to 'Show', route_state_association %></td>
        <td><%= link_to 'Edit', edit_route_state_association_path(route_state_association) %></td>
        <td><%= link_to 'Destroy', route_state_association, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New demand state for a route', new_route_state_association_path %><br>
<%= link_to 'Back to model page', aircraft_start_path %>
