<p id="notice"><%= notice %></p>

<p>
  <strong>Route:</strong>
  <%= @route_state_association.route_id %>
</p>

<p>
  <strong>State:</strong>
  <%= @route_state_association.state_id %>
</p>

<p>
  <strong>Demand:</strong>
  <%= @route_state_association.demand %>
</p>

<p>
  <strong>Lambda:</strong>
  <%= @route_state_association.lambda %>
</p>

<%= link_to 'Edit', edit_route_state_association_path(@route_state_association) %> |
<%= link_to 'Back', route_state_associations_path %>
