<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Name' %><br />
    <%= f.text_field :name %>
  </div>

    <div class="field">
      <%= f.label 'Maschine auswählen' %><br />
      <%= f.collection_select :machine_id, Machine.all, :id, :name %>
    </div>


    <div class="field">
      <%= f.label 'Rüstzeit' %><br />
      <%= f.text_field :setup_time %>
    </div>
    <div class="field">
      <%= f.label 'Stückzeit' %><br />
      <%= f.text_field :processing_time %>
    </div>
    <div class="field">
      <%= f.label 'Rüstkosten' %><br />
      <%= f.text_field :setup_cost %>
    </div>
      <div class="field">
      <%= f.label 'Lagerkosten' %><br />
      <%= f.text_field :holding_cost %>
    </div>
    <div class="field">
      <%= f.label 'Anfangsbestand' %><br />
      <%= f.text_field :initial_inventory %>
    </div>
    <div class="field">
      <%= f.label 'Vorlauf' %><br />
      <%= f.text_field :lead_time_periods %>
    </div>
    <div class="actions">
    <%= f.submit 'Produkt anlegen oder aktualisieren' %>
  </div>
<% end %>

