<footer class="footer">
  <small>
    The Operations Management App by J. Bebermeier and J. Brune
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://www.operations-management-online.de/">News</a></li>
    </ul>
  </nav>
</footer>
